<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Usuários</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
           <thread>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Nível</th>
                <th>Status</th>
            </tr>
        </thread>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.nivelAcesso}"></td>
                <td th:text="${usuario.statusUsuario}"></td>
            </tr> 
        </tbody>
        

</table>
    </div>


</body>
</html>